[Unit]
Description=Flask REST API Application
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cloud_lab_1
Environment="PATH=/home/ubuntu/cloud_lab_1/venv/bin"
ExecStart=/home/ubuntu/cloud_lab_1/venv/bin/python /home/ubuntu/cloud_lab_1/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=myapp

[Install]
WantedBy=multi-user.target
